<!--
  Author : Param Trivedi
  Institute : New Jersey School Of Technology (NJIT)
  Email : paramktrivedi1@gmail.com
-->

<header class="hero" id="Home">
  <div class="container">
      <div class="row">
            <div class="Home-Page text-center">
                  <div class="col-md-12">
                       <div class="Home-Page-Content">
                            <h1 class="Class-H">CRUD App</h1>
                            <p> This is Demo application developed by <span class="Color-Flat">Param Trivedi</span>.<br/> Click the scroll bellow to know more </p>
                            <a href="#Objective" class="scroll-down" address="true"></a>
                       </div>
                  </div>
            </div>
      </div>
 </div>
</header>

<section id="Objective" class="Objective">
  <div class="container">
      <div class="row">
          <div class="Objective-Content">
                  <div class="col-md-6 Objective-Item">
                      <div class="Objective-Text text-center" >
                              <img class="img-circle" src="/Content/Image/ParamTrivedi.jpg"  />
                              <h1>Param Trivedi</h1>
                      </div>
                  </div>

                  <div class="col-md-6 Objective-Item">
                      <div class="Objective-Text">
                              <h1>Objective</h1>
                              <p class="Objective-Paragraph"> To create a basic CRUD (create, read, update, and delete) application using Angular.js </p>
                              <p class="Objective-Paragraph"> Source code can be found on github. Click below for link </p>
                              <br/>
                              <a href="#Source" class="btn btn-primary">click here</a>
                      </div>
                </div>
            </div>
      </div>
  </div>
</section>

<section id="Source" class="Source">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
             <div>
                  <h1>Github-Link</h1>
             </div>
             <div class="Glyphicon-Symbol">
               <a href=""><i class="fa fa-github-square"></i></a>
             </div>
        </div>
    </div>

    </div>
</section>
